<div class="all" [ngStyle]="{'background-image': getUrl()}">
  <div class="color-rapted">
    <div class="container1 sm-4 med-4 lg-4 xlg-3">

      <h1 class=" p-3 text-white text-center">{{ user }} Wellcome To Collaborative Whiteboard !! </h1>

      <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" min="1" max="100000"></mat-slider>
      <div class='nav sm-4 med-4 lg-4'>
        <p ngDefaultControl [(ngModel)]="lineWidth">current line Weight : {{lineWidth }}</p>
        <button class="reset" (click)="clearCanvas()">clear</button>
        <button class="enlargeLine" (click)="enlargeLine()">BOLDER LINE +</button>
        <button class="lowLine" (click)="lowLine()">THINER LINE - </button>
        <button class="eareser" (click)="eraser()"><i class="fas fa-eraser"></i></button>

        <input [(colorPicker)]="markerColor" [style.background]="markerColor" value="Pick a Color" />
      </div>
      <div class="canvas bg-white">

        <canvas id="draw " #canvas></canvas>
      </div>

      <!-- <div class="chat-main">
  <h2>Chat Erea</h2>
  <div *ngFor="let message of messages">
    <div *ngIf="user" class="msg-bubble">
      <h6>{{user}}</h6>{{message}}
    </div>

  </div>
</div> -->
    </div>
    <div class="container2 sm-4 med-4 lg-4 xlg-1">
      <app-chat class="m-3"></app-chat>
    </div>
  </div>
</div>

<!-- <input class="input-chat" [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
<button class="send-btn" (click)="sendMessage()">Send</button> -->